<br />
<p>
    This application is based on a OData version of the traditional Northwind database.</p>
<p>
    The OData source was created using the Microsoft Entity Framework over a SQL Sever 
    Compact Edition (sdf) file.</p>
<p>
    The <b>ICollectionView</b> interface works great with OData sources, providing
    a standard way to specify filtering, sorting, and paging on the server or on
    the client.</p>
<p>
    The <b>ODataCollectionView</b> class in this sample extends the <b>CollectionView</b>
    class in Wijmo to connect to OData service. </p>
<p>
    Note that the grids have several data-mapped columns. For example, the orders grid shows
    the name of the employee rather than the ID. If you change an employee's name, the orders
    grid will be updated automatically.</p>